<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.PostDAO">
	<select id="selectCategoryList" resultType="kr.kh.app.model.vo.CategoryVO">
		select * from category
	</select>
	<select id="selectBoardList" resultType="kr.kh.app.model.vo.BoardVO">
		select * from board
	</select>
	<insert id="insertHead">
		insert into head(he_name, he_bo_num) 
		values(#{inputHead.he_name}, 1)
	</insert>
	<select id="selectHeadList" resultType="kr.kh.app.model.vo.HeadVO">
		select * from head
	</select>
	<update id="updateHead">
		update head set he_name = #{updateHead.he_name} where he_num = #{updateHead.he_num}
	</update>
	<delete id="deleteHead">
		delete from head where he_num = #{deleteHead.he_num}
	</delete>
</mapper>